node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

#Frontend files
# .gitignore at root
frontend/node_modules/
frontend/dist/
frontend/*.log
frontend/build/
frontend/.env
frontend/.env.local
frontend/.next/

